
   <div class="header-area">
   <div class="container">
   <div class="row">
   <div class="col-md-8">
   <div class="user-menu">
    <ul>
    <!-- <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
    <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
    <li><a href="#"><i class="fa fa-user"></i> My Cart</a></li> -->
    <li><a href="#"><i class="fa fa-user"></i> Sign Up</a></li>
    <li><a href=""><i class="fa fa-user"></i> Login</a></li>
   </ul>
  </div>
</div>
  </div>
  </div>
  </div> <!-- End header area -->

    <div class="site-branding-area">
    <div class="container">
    <div class="row">
    <div class="col-sm-6">
    <div class="logo">
     <h1>Swap<span>deck</span></h1>
    </div>
    </div>

     <div class="col-sm-6">
     <div class="shopping-item">
      <a href="#">Cart - <span class="cart-amunt">$0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
     </div>
     </div>
     </div>
     </div>
     </div> <!-- End site branding area -->

      <div class="mainmenu-area">
      <div class="container">
      <div class="row">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home.html">Home</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">Checkout</a></li>
          <li><a href="#">Category</a></li>
          <li><a href="#">Contact</a></li>
         </ul>
        </div>
        </div>
        </div>
        </div> <!-- End mainmenu area -->

    <div class="slider-area">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">

    <div class="slide-bulletz">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
      <ol class="carousel-indicators slide-indicators">
        <li data-target="#slide-list" data-slide-to="0" class="active"></li>
        <li data-target="#slide-list" data-slide-to="1"></li>
        <li data-target="#slide-list" data-slide-to="2"></li>
      </ol>
    </div>
    </div>
    </div>

      <div class="carousel-inner" role="listbox">
      <div class="item active">
      <div class="single-slide">
      <div class="slide-bg slide-one"></div>
      <div class="slide-text-wrapper">
      <div class="slide-text">
      <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-6">
      <div class="slide-content">
        <h2>Buy</h2>
          <p>Image Placeholder</p>
          <p>Image Placeholder</p>
           <a href="" class="readmore">see more</a>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>

       <div class="item">
       <div class="single-slide">
       <div class="slide-bg slide-two"></div>
       <div class="slide-text-wrapper">
       <div class="slide-text">
       <div class="container">
       <div class="row">
       <div class="col-md-6 col-md-offset-6">
       <div class="slide-content">
        <h2>Sell</h2>
          <p>Image placeholder</p>
           <a href="" class="readmore">see more</a>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>

        <div class="item">
        <div class="single-slide">
        <div class="slide-bg slide-three"></div>
        <div class="slide-text-wrapper">
        <div class="slide-text">
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-6">
        <div class="slide-content">
         <h2>Swap</h2>
            <p>Image placeholder</p>
            <p>Image Placeholder</p>
              <a href="" class="readmore">see more</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        </div>
        </div> <!-- End slider area -->


    <div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="latest-product">
      <p>
     <h2 class="section-title">Latest Uploads</h2></p>
    <div class="product-carousel">
    <div class="single-product">
    <div class="product-f-image">
      <img src="img/product-1.jpg" alt="">

    <div class="product-hover">
      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
    </div>
    </div>

      <h2><a href="#">AFL collector cards</a></h2>

    <div class="product-carousel-price">

    </div>
    </div>
    <div class="single-product">
    <div class="product-f-image">
     <img src="img/product-2.jpg" alt="">
    <div class="product-hover">
      <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
    </div>
    </div>

      <h2><a href="#">Pokemon collector cards</a></h2>
    <div class="product-carousel-price">

    </div>
    </div>

    <div class="single-product">
    <div class="product-f-image">
    <img src="img/product-3.jpg" alt="">
    <div class="product-hover">
     <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
     <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
    </div>
    </div>

     <h2><a href="single-product.html">Marvel collector cards</a></h2>

    <div class="product-carousel-price">

    </div>
    </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->

    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <h2 class="section-title">Collections</h2>
                        <div class="brand-list">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->


    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>Swap<span>deck</span></h2>
                        <p>placeholder text</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Vendor contact</a></li>
                            <li><a href="#">Front page</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="#">Sports</a></li>
                            <li><a href="#">Pop Culture</a></li>
                            <li><a href="#">Tazos</a></li>
                            <li><a href="#">Woolworths</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2017- Swapdeck. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->

    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="js/main.js"></script>
